@charset "utf-8";
/* CSS Document */
html{
	 font-size: 62.5%;
	 }
img{
	display: block;
	max-width: 100%;	
}
/*box*/
.box{
	width: 100%;
	height: 80px;
}
.header_box,.footer_box{
	background: #333333;
	width: 100%;
	min-width: 300px;
	top: 0;
	z-index: 4633463463;
}
/*header*/
.header{
	max-width: 1000px;
	min-width: 300px;
	/*box-shadow: 0 2px 8px 0 rgba(50,50,50,0.88);*/
}
.header .log{
	width: 17.1%;
	position: relative;
	z-index: 2;
}
.header .log img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.header nav{
	display: none;
}

header p{
	color: #fff;
	height: 80px;
	width:100%;
	font: 4em/80px simsun;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	font-weight: bold;
	z-index: 1;
}
header div{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 5%;
		color: #FFF;
		width: 120px;
		height: 40px;
		font:1.8em/40px "microsoft yahei";
		border: 1px solid #666;
		border-radius:4px ;
		cursor: pointer;
		text-indent: 15px;
		z-index: 2;
}
header div span{
	display: block;
	width: 25px;
	height: 3px;
	background: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 12%;
}
header div span:after,header div span:before{
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	background: #fff;
	position: absolute;
	
}
header div span:after{
	top: 8px;
}
header div span:before{
	bottom: 8px;
}
header div:hover{
	background: #666;
}
/*************************尾部footer******************************/
.footer_box{
	margin-top: 40px;
}
.footer{
	width: 100%;
	max-width: 1000px;
	min-width: 300px;
	margin: 0 auto;
}
.footer ul li{
	float: left;

}
.footer ul li span{
	display:block;
	font: 1.4em "microsoft yahei";
	color: #fff;
}
.nav_1 li:hover a{
	background: #5c5c5c;
		color: #fa9634;
	}
.nav_1 li.hover a{
	background: #5c5c5c;
	color: #fa9634;
}
.nav_1{
	background: #333333;
	border-top: 3px solid #ccc;
	border-bottom: 3px solid #ccc;
	display: none;
}
@media screen and (min-width: 1001px){
	.header_box{
		position: fixed;	
}
	/*************************导航header******************************/
	/*************************导航header******************************/
	.log{
		margin-right: 9.6%;
		height: 80px;
	}
	.header nav{
		width: 71.6%;	
		display: block;
	}
	.nav ul li:not(:first-of-type){
		width: 12.988826815642458100558659217877%;
		float: left;
	}
	.nav ul li:first-of-type{
		width: 9.07821229050279329608938547486%;
		float: left;
	}
	.nav ul li a{
		display: block;
		height: 80px;
		font: 1.4em/80px "microsoft yahei";
		color: #fff;
	}
	.nav ul li a:hover{
		background: #5c5c5c;
	}
	.nav ul li.hover{
		background: #5c5c5c;
	}	header p{
		display: none;
	}
	header div{
	display: none;
	}
		/*************************尾部footer******************************/
		/*************************尾部footer******************************/
	.footer{
		padding-top: 53px;
	}
	.footer ul li{
		width: 24%;
		height: 134px;
	}
	.footer ul li span{
	height: 31px;
	}
	.footer ul li:last-of-type{
	width: 28%;
	}
	.footer ul li:nth-of-type(1) span:not(:first-of-type),.footer ul li:nth-of-type(3) span:not(:first-of-type){
	padding-left: 70px;
	}
}
@media screen and (max-width: 1000px) and (min-width: 761px){
	.header{
		height: 80px;
	}
	.header .log{
		position: absolute;
		left: 5%;
		height: 80px;
		width: 20%;
	}
	.nav_1 li:nth-of-type(-n+7){
		margin-right: 1.005025125628140703517587939698%;
	}
	.nav_1 li{
		
		width:11.620603015075376884422110552764%;
		float: left;
	}
	.nav_1 li a{
		display: block;
		height: 50px;
		font: 1.6em/50px "microsoft yahei";
		color: #fff;
	}
		/*************************尾部footer******************************/
		/*************************尾部footer******************************/
	.footer{
		padding-top: 23px;
		padding-bottom: 20px;
	}
	.footer ul{
		width: 80%;
		margin: 0 auto;
	}
	.footer ul li{
			width: 50%;
		height: 80px;
	}
	.footer ul li span{
			height: 31px;
			font-size: 1.4em;
	}
	.footer ul li:nth-of-type(1) span:not(:first-of-type),.footer ul li:nth-of-type(3) span:not(:first-of-type){
	padding-left: 70px;
	}	
}
@media screen and (max-width: 760px) and (min-width: 481px){
	.box{
	height: 60px;
	}
	.header .log{
		margin-left: 5%;
			height: 60px;
		width: 20%;
	}
	header div{
		width: 100px;
		height: 30px;
		font:1.6em/30px "microsoft yahei";
		text-indent: 10px;
	}
	header p{
			font: 3em/80px simsun;
	}
	header div span{
		width: 20px;
	}
	
	.nav_1 li{
		width:25%;
		float: left;
	}
	.nav_1 li a{
		display: block;
		height: 40px;
		font: 1.6em/40px "microsoft yahei";
		color: #fff;
	}
		/*************************尾部footer******************************/
	.footer{
		padding-top: 23px;
		padding-bottom: 20px;
	}
	.footer ul{
		width: 95%;
		margin-left:5%;
	}
	.footer ul li{
			width: 40%;
		height: 90px;
	}
	.footer ul li:nth-of-type(2n){
		width: 60%;
	}
	.footer ul li span{
			height: 31px;
			font-size: 1.4em;
	}
	.footer ul li:nth-of-type(1) span:not(:first-of-type),.footer ul li:nth-of-type(3) span:not(:first-of-type){
	padding-left: 70px;
	}	
}
@media screen and (max-width: 480px){
	.box{
		height: 60px;
	}
	.header .log{
		margin-left: 5%;
		height: 60px;
		width: 25%;
	}
	header div{
		width: 40px;
		height: 40px;
		font-size: 0;
		text-indent: 10px;
		
	}
	header p{
			font: 24px/60px simsun;
			height: 60px;
	}
	header p span{
		display: block;
			padding-left: 8%;
	}
	header div span{
		width: 30px;
	}
		/*************************尾部footer******************************/
	.footer{
		padding-top: 23px;
		padding-bottom: 20px;
	}
	.footer ul li{
		float: none;
		width: 262px;
		margin: 0 auto;
	}
	.footer ul li span{
			height: 31px;
			font-size: 1.4em;		
	}
	.footer ul li span strong{
		display: none;
	}
	.footer ul li:nth-of-type(1) span:not(:first-of-type),.footer ul li:nth-of-type(3) span:not(:first-of-type){
	padding-left: 70px;
	}	
	.bx-wrapper .bx-pager.bx-default-pager a {
		width: 30px;
		height: 4px;
		margin: 0 5px;
	}
	.nav_1 li{
		width:50%;
		float: left;
	}
	.nav_1 li a{
		display: block;
		height: 40px;
		font: 1.6em/40px "microsoft yahei";
		color: #fff;
	}
}
.slider7 img{
	min-height: 150px;
}
#up{
	display: none;
	width:50px;
	height: 50px;
	background: #fa9634;
	position: fixed;
	right: 0;
	bottom: 20%;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}
#up span{
		border-radius: 5px;
	display:block;
	width: 20px;
	height: 20px;
	border: 6px solid #fff;
	border-bottom: transparent;
	border-right: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-30%) rotate(45deg);
	
}
/*=========================================在线客服============================*/
.aside_online{
	position:fixed;
	top:130px;
	right:-145px;
	z-index:1111111;
}
.aside_title{
	cursor:pointer;
	margin-top:100px;
	width:40px;
	height:133px;
	float:left;
	background:url(../images/open_im.png) no-repeat 0 0;
	margin-right:5px;
}
.online{
	/*width:120px;*/
	float:left;
	background:#79ccc0;
	border-radius:17px;
	padding:10px 10px 18px 10px;
	position:relative;
}
.online div{
	background:#ffffff;
	padding:0px 10px;
	margin-bottom:9px;
	border-radius:17px;
	border:#000000px solid #d6eceb;
	padding-bottom:20px;
}
.online div:nth-of-type(1){
	padding-top:22px;
	padding-bottom:20px;
}
.online div:nth-of-type(2){
	padding-top:12px;
	padding-bottom:8px;
	margin-bottom:6px;
}
.online div:nth-of-type(3){
	width:89px;
	margin:0 auto;
	text-align:center;
	margin-bottom:0px;
	border-radius:0;
	padding:6px 6px 0 6px;
}
.online div h2{
	height:35px;
	line-height:35px;
	width:97px;
	text-align:center;
	border-bottom:2px solid #6ec3ba;
}
.online div h2{
	font-size:18px;
	color:#25939f;
	font-family:simhei;
}
.online div p{
	font-size:14px;
	color:#1e1e1e;
	font-family:simhei;
}
.online div p a{
	display:block;
}
.online div:nth-of-type(1) p a{
	height:36px;
	line-height:36px;
	padding-left:28px;
	background:url(../images/info_03.jpg) no-repeat 2px center;
	border-bottom:2px solid #6ec3ba;
}
.online div:nth-of-type(2) p{
	text-align:center;
	font-size:16px;
	color:#1e1e1e;
	height:30px;
	line-height:30px;
}
.online div:nth-of-type(3) p{
	height:30px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	color:#25939f;
}
.online div p:hover a{
	color:red;
}
.online small{
	cursor:pointer;
	position:absolute;
	width:30px;
	height:30px;
	background:#ffffff;
	border:2px solid #79ccc0;
	border-radius:50%;
	text-align:center;
	line-height:26px;
	top:-15px;
	left:52px;
	font-size:30px;
	font-weight:bold;
	font-family:"microsoft yahei";
	color:#79ccc0;
	box-shadow:0 3px 3px #000000;
}
.aside_online .upSlide{
	width:89px;
	margin:0 auto;
	text-align:center;
	margin-top:8px;
	border-radius:0;
	padding:6px 6px 0 6px;
	cursor:pointer;
}
.aside_online .upSlide span{
	display:block;
	width:30px;
	height:30px;
	margin:0 auto;
	text-align:center;
	font-size:30px;
	font-weight:bolder;
	transform:rotate(270deg);
	font-family:simhei;
}